<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="static/style.css">
  </head>

  <body>
    <div class="header">
      どの手を選びますか？
    </div>
    <div class="daddy">
      <a href="/rock">
      <div class="rock">
        グー
      </div>
      </a>
    </div>

    <div class="daddy">
      <a href= "/scissors">
      <div class="scissors">
        チョキ
      </div>
      </a>
    </div>

    <div class="daddy">
      <a href= "/paper">
      <div class="paper">
        パー
      </div>
      </a>
    </div>
  </body>
</html>
