<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <title>janken</title>
    <link rel="stylesheet" href="/static/style-2.css">
  </head>
  <body>
    <h1>あなたはパーを選びました。</h1>
    
    {% if number == 1 %}
    <p>
     相手は <strong>パー</strong> を選びました。
    </p>
    <p>
    あいこです。
    </p>
    
    {% elif number == 2 %}
    <p>
    相手は <strong>グー</strong>を選びました。
    </p>
    <p>
    勝ちました！おめでとう！
    </p>

    {% else %}
    <p>
      相手は <strong>チョキ</strong> を選びました。
    </p>
    <p>
    負けました。残念！
    </p>
    {% endif %}
    <div class="back">
      <a href="/">戻る</a>
    </div>
  </body>
</html>
